body {
    font-family: 'Dosis', sans-serif;
        color: black;
        font-size: 30px;
        background-image: url('image/42312.jpg');
        background-size: cover;
        padding: 0;
        margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    margin: 20px 0 10px 10px;
}
.header .title {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.header .page-title {
    font-size: 3em;
    line-height: 0.8em;
}
.header .italicpage-title {
    font-style: italic;
    font-size: 0.8em;
}
.header .name {
    font-size: 0.7em;
    font-weight: bold;
}

.subtitle {
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
}

.container {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
